<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>360</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <real>0.8392156862745098</real>
    <key>finishColorBlue</key>
    <real>0.6666666666666666</real>
    <key>finishColorGreen</key>
    <real>0.06274509803921569</real>
    <key>finishColorRed</key>
    <real>0.5450980392156862</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.7372549019607844</real>
    <key>finishColorVarianceBlue</key>
    <real>0.9764705882352941</real>
    <key>finishColorVarianceGreen</key>
    <real>0.4196078431372549</real>
    <key>finishColorVarianceRed</key>
    <real>0.44313725490196076</real>
    <key>finishParticleSize</key>
    <real>30.31999969482422</real>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <real>0.8</real>
    <key>gravityy</key>
    <real>0.8</real>
    <key>maxParticles</key>
    <integer>50</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.5</real>
    <key>particleLifespanVariance</key>
    <real>0.2</real>
    <key>radialAccelVariance</key>
    <integer>-200</integer>
    <key>radialAcceleration</key>
    <integer>-600</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>300</integer>
    <key>rotationEndVariance</key>
    <integer>100</integer>
    <key>rotationStart</key>
    <integer>300</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>7</integer>
    <key>sourcePositionVariancey</key>
    <integer>7</integer>
    <key>sourcePositionx</key>
    <real>373.7277526855469</real>
    <key>sourcePositiony</key>
    <real>478.40472412109375</real>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <real>0.6392156862745098</real>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <real>0.7764705882352941</real>
    <key>startColorVarianceBlue</key>
    <integer>1</integer>
    <key>startColorVarianceGreen</key>
    <real>0.6784313725490196</real>
    <key>startColorVarianceRed</key>
    <real>0.8588235294117647</real>
    <key>startParticleSize</key>
    <real>3.369999885559082</real>
    <key>startParticleSizeVariance</key>
    <integer>50</integer>
    <key>tangentialAccelVariance</key>
    <integer>-300</integer>
    <key>tangentialAcceleration</key>
    <integer>-600</integer>
    <key>emissionRate</key>
    <integer>50</integer>
    <key>textureUuid</key>
    <string>d0a82d39-bede-46c4-b698-c81ff0dedfff</string>
    <key>rotationIsDir</key>
    <false/>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>2e315803-6742-47c3-b09e-24cfdcfd4790</string>
  </dict>
</plist>